<div class="container">
  <form [formGroup]="formPokemon" (ngSubmit)="buscarPokemon()">

    <mat-form-field appearance="fill">
      
      <mat-label>Nome</mat-label>
      
      <input type="text" name="poke-name" matInput formControlName="name">
      <mat-error></mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">buscar</button>

  </form>
  <div *ngIf="pokemon" class="pokemon">
    <a href="">
    <mat-card>      
        <img [src]="pokemon.sprites.front_default">
        <span>name: {{ pokemon.name }}</span>
        <span>number: {{ pokemon.id }}</span>
        <span>type: {{ pokemon.types[0].type.name }}</span>
    </mat-card>
  </a>
  </div>  
</div>